<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursos</title>
</head>
<body>
    <div>
        <h1>Os Cursos da Fatec São:</h1>
        <p>ADS</p>
        <p>SBIO</p>
        <p>Fabricação Mecaninca</p>
        <p>Manufatura Avançada</p>
        <p>Gestão de Qualidade</p>
    </div>
</body>
</html>