<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursos</title>
</head>
<body>
    <div>
        <h1>Os Professores da Fatec São:</h1>
        <p>Denilce</p>
        <p>Dimsa</p>
        <p>Munari</p>
        <p>Moura</p>
        <p>Osni</p>
        <p>Levi</p>
        <p>Ana Carolina</p>
    </div>
</body>
</html>